In [46]:
import pandas as pd

listings_df = pd.read_csv("airbnb_new_york_city_listings.csv")

In [20]:
listings_df

             id                                               name  ...  availability_365 last_review_year
0          2595                              Skylit Midtown Castle  ...               341           2019.0
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...  ...               212           2021.0
2          5121                                    BlissArtsSpace!  ...               365           2016.0
3          5136           Spacious Brooklyn Duplex, Patio + Garden  ...               184           2014.0
4          5178                   Large Furnished Room Near B'wayã€€  ...               255           2021.0
...         ...                                                ...  ...               ...              ...
36719  51447515         Gorgeous 2 Bedroom - in Prime Midtown East  ...               364              NaN
36720  51449962  Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...  ...                16              NaN
36721  51450816                                    The Hunter IIII  ...               334              NaN
36722  51451029                        Rockaway Beach Surf Getaway  ...                87              NaN
36723  51451368                       Nyc apt in the middle in nyc  ...               364              NaN

[36724 rows x 17 columns]

In [15]:
listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                         float64
dtype: object

In [47]:
listings_df["price"] = listings_df["price"].astype("float64")
listings_df["last_review"] = pd.to_datetime(listings_df["last_review"])

In [48]:
listings_df["last_review_year"] = listings_df["last_review"].dt.year
listings_df["last_review_year"] = pd.to_numeric(listings_df["last_review_year"])

In [23]:
listings_df.empty

False

In [32]:
listings_df.isnull().sum()

id                                   0
name                                13
host_id                              0
host_name                           23
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9415
reviews_per_month                 9415
calculated_host_listings_count       0
availability_365                     0
last_review_year                  9415
dtype: int64

In [33]:
listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                         float64
dtype: object

In [ ]:
#name "No Name Listing"
#host_name "J.Doe"
#reviews_per_month 0.00
#last_review_year 0
#last_review 01-01-1970

###  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

#fillna()
#replace()
#interpolate()

In [49]:
listings_df["name"].fillna("No Name Listing", inplace = True)
listings_df["host_name"].fillna("J.Doe", inplace = True)
listings_df["reviews_per_month"].fillna(0.00, inplace = True)
listings_df["last_review_year"].fillna(0, inplace = True)
listings_df["last_review"].fillna("01-01-1970", inplace = True)

In [42]:
listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int64
dtype: object

In [50]:
listings_df["last_review_year"] = listings_df["last_review_year"].astype("int64")

In [52]:
listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int64
dtype: object

In [54]:
listings_df["name"] = listings_df["name"].str.strip()
listings_df["host_name"] = listings_df["host_name"].str.strip()
listings_df["neighbourhood_group"] = listings_df["neighbourhood_group"].str.strip()
listings_df["neighbourhood"] = listings_df["neighbourhood"].str.strip()
listings_df["room_type"] = listings_df["room_type"].str.strip()

In [55]:
listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int64
dtype: object

In [56]:
listings_df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
last_review_year                  0
dtype: int64

In [57]:
listings_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'last_review_year'],
      dtype='object')

In [59]:
listings_df["minimal_revenue"] = listings_df["price"] * listings_df["minimum_nights"]

In [61]:
listings_df

             id                                               name  ...  last_review_year minimal_revenue
0          2595                              Skylit Midtown Castle  ...              2019          4500.0
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...  ...              2021            75.0
2          5121                                    BlissArtsSpace!  ...              2016          1800.0
3          5136           Spacious Brooklyn Duplex, Patio + Garden  ...              2014          1375.0
4          5178                    Large Furnished Room Near B'way  ...              2021           122.0
...         ...                                                ...  ...               ...             ...
36719  51447515         Gorgeous 2 Bedroom - in Prime Midtown East  ...                 0          7905.0
36720  51449962  Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...  ...                 0          1530.0
36721  51450816                                    The Hunter IIII  ...                 0          1890.0
36722  51451029                        Rockaway Beach Surf Getaway  ...                 0            75.0
36723  51451368                       Nyc apt in the middle in nyc  ...                 0          3450.0

[36724 rows x 18 columns]