In [5]:
import pandas as pd

reviews_df = pd.read_csv("airbnb_new_york_city_reviews_full.csv", parse_dates=["date"])

In [4]:
reviews_df

        listing_id                  id  ... reviewer_name                                           comments
0             2595               17857  ...          Jean  Notre séjour de trois nuits.\r<br/>Nous avons ...
1             2595               19176  ...          Cate                                  Great experience.
2             2595               19760  ...         Anita  I've stayed with my friend at the Midtown Cast...
3             2595               34320  ...       Kai-Uwe  We've been staying here for about 9 nights, en...
4             2595               46312  ...        Alicia  We had a wonderful stay at Jennifer's charming...
...            ...                 ...  ...           ...                                                ...
839316    51333702  419451978146866472  ...        Latyna                                   Very lovely home
839317    51337315  418916185474819186  ...           Vai  The host canceled this reservation the day bef...
839318    51344110  420170792523838346  ...        Lauren  Christopher's place is really well located. It...
839319    51344110  420918895863584518  ...       Eli Zoe  Nice place , comfy, all what you need for nice...
839320    51344110  421704097790531569  ...        Arnaud  Host has been very kind and responsive. <br/>T...

[839321 rows x 6 columns]

In [6]:
reviews_df.dtypes

listing_id                int64
id                        int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

In [9]:
reviews_df.isna().sum()

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      7
comments         812
dtype: int64

In [10]:
reviews_df["comments"].fillna("No comments for listing", inplace=True)
reviews_df["reviewer_name"].fillna("J. Doe", inplace=True)

In [14]:
reviews_df

        listing_id                  id  ... reviewer_name                                           comments
0             2595               17857  ...          Jean  Notre séjour de trois nuits.\r<br/>Nous avons ...
1             2595               19176  ...          Cate                                  Great experience.
2             2595               19760  ...         Anita  I've stayed with my friend at the Midtown Cast...
3             2595               34320  ...       Kai-Uwe  We've been staying here for about 9 nights, en...
4             2595               46312  ...        Alicia  We had a wonderful stay at Jennifer's charming...
...            ...                 ...  ...           ...                                                ...
839316    51333702  419451978146866472  ...        Latyna                                   Very lovely home
839317    51337315  418916185474819186  ...           Vai  The host canceled this reservation the day bef...
839318    51344110  420170792523838346  ...        Lauren  Christopher's place is really well located. It...
839319    51344110  420918895863584518  ...       Eli Zoe  Nice place , comfy, all what you need for nice...
839320    51344110  421704097790531569  ...        Arnaud  Host has been very kind and responsive. <br/>T...

[839321 rows x 6 columns]

In [12]:
reviews_df.isna().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [13]:
reviews_df["reviewer_name"] = reviews_df["reviewer_name"].str.strip()
reviews_df["comments"] = reviews_df["comments"].str.strip()